/* player css starts here */
.footer {
    min-width: 720px;
    height: 83px;
    position: fixed;
    bottom: 0;
    background-color: #181818;
    border-top: 1px solid #282828;
}

.mainbuttons{
    width: 15%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    height: 100%;
}

footer > .row {
    height: 100%;
}

.player-bar {
    background-color: #535353;
    height: 3.5px;
    border-radius: 2px;
    margin-top: 1px;
}

.footer button {
    background: none;
    border: none;
    color: #b3b3b3;
    cursor: default;
    height: 29px;
    width: 29px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.footer button:hover:not(.play-button) {
    color: #fff;
}

.footer i {
    font-size: 10px;
    font-weight: 600;
}

.player-buttons {
    width: 224px;
    flex: none;
    margin-bottom: 12px;
    display: flex;
}

.footer .play-button {
    color: #000;
    background-color: #fff;
    border-radius: 32px;
    position: relative!important;
}

.footer .play-button i {
    position: absolute;
    left: 11px;
}

.play-button:hover {
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(.3,0,0,1);
    transition-property: all;
}

.player-time {
    font-size: 11px;
    color: #B3B3B3;
}

footer > .row > .col-4:nth-child(2) {
    padding: unset;
}

.timeline {
    height: 16px;
}

.wider-icon {
    transform: scale(1.5,1);
}

.volume-bar {
    flex: 0 1 125px;
}

.player-right-section i{
    font-size: 12px;
}

.player-volume {
    height: 4px;
    background-color: #b3b3b3;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 2px;
}
/* player styles end here */

.fixed{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 230px;
    background-color: #111; 
    margin-bottom: 100px ;
}

/* main content css starts here */
#body {
    /* background: rgb(6,4,20); */
    background-image: url(https://64.media.tumblr.com/4587477de32cb14d2852d46546458daa/tumblr_inline_pmvkkgHhNB1svxsiv_1280.png);
    background-repeat: no-repeat;
    color: white;
    font-family: "Montserrat";
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 100%;
    margin-left: 230px;
}
#body background-image{
    max-width:max-content;

}

.button_top {
    color: white;
    font-size: 13px;
    font-family: Trebuchet MS;
    padding-right: 38px;
}

.col p {
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.green_line{
    border: chartreuse  1px solid;
}

.col {
    padding-right: 5px;
}

.card {
    border: none;
}

div h2 {
    font-weight: 1000 !important;
}

.heading {
    font-size: 22px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.card-text {
    text-align: center;
    font-size: 13px;
    text-shadow: 0px 0.8px, 0.8px 0px, 0.8px 0.8px;
    color: white;
}

.card img {
    -webkit-box-shadow: -2px -7px 23px 5px rgba(0,0,0,0.4); 
    box-shadow: -2px -7px 23px 5px rgba(0,0,0,0.4);
}

body {
    background-color: black;
    height: 100vh;
}

a{
    color: white !important;
}

#logo {
    width: 200px;
}

svg {
    fill: white;
}

.hovered:hover {
  color: white !important;
  background-color: rgb(118, 212, 118) !important;
}

#main-content {
    padding-bottom: 82px;
}
