@import "../style.css";

/* Main content css for the album section */

#body {
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  /* background: linear-gradient(
    356deg,
    rgba(6, 4, 20, 1) 46%,
    rgba(32, 34, 34, 1) 100%
  ); */
}
body {
  background: rgb(6, 4, 20);
  /* background: linear-gradient(
    356deg,
    rgba(6, 4, 20, 1) 46%,
    rgba(32, 34, 34, 1) 100%
  ); */
}

#main_content {
  background: rgb(6, 4, 20);
  /* /* background: linear-gradient(
    356deg,
    rgba(6, 4, 20, 1) 46%,
    rgba(32, 34, 34, 1) 100%
  ); */
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100vh;
}

#main_content ul li {
  color: white;
}

#main_content .container-fluid img {
  /* width: 100%; */
  margin: auto 0;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 20px;

  /* margin-top: 50px; */
}

#main_content .song-list .song-title {
  display: inline;
  color: white;
  text-align: center;
}

#main_content .song-list .timer {
  display: inline;
  color: grey;
  padding-left: 25px;
  padding-right: 10%;
}

#main_content .audio-list {
  list-style-type: none;
}

#main_content .song-list {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

#main_content .artist-name {
  color: grey;
  font-size: small;
  padding-left: 25px;
}

#main_content .audio-list {
  padding-top: 55px;
}

#main_content .song-list .song-title .fas {
  padding-right: 10px;
  color: grey;
  font-size: 10px;
}

#main_content .row .album_name {
  color: white;
}

#main_content .row .btn {
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 10px;
  border-radius: 17px;
  background-color: rgb(21, 182, 62);
}

#main_content .row .image-div {
  text-align: center;
}

#main_content li {
  margin-bottom: 10px;
}

#main_content .image-div .artist-name {
  color: grey;
  padding-right: 35px;
}

#main_content .image-div .img-lst-cnt {
  color: grey;
  font-size: 10px;
  margin-top: 15px;
}
/* 
.top-div {
  width: 100%;
  background-color: black;
  padding-bottom: 50px;
} */

#main_content .image-div .font-aw i {
  color: rgb(219, 213, 213);
  margin-top: 30px;
}

#main_content .image-div .font-aw .far {
  padding-right: 15px;
}

#main_content .album_name {
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
}
